#click {
  color: green;
  border: 2px solid black;
  padding: 10px;
  width: 200px;
  background: gray;
  border-radius: 4px;
  font-family: Helvetica;
  cursor: pointer;

}
#click:hover {
  background:white;
}

.ball{
  background: yellow;
  height: 150px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  padding-top: 150px;
  transition: background 1s;
  -webkit-transition: background 1s;
}
